* {
  box-sizing: border-box;
}

:root {
  /* Primary */

  --PaleViolet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);

  /* gradient */

  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* secondary */

  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  margin: 0;
  background-color: var(--Light-Grayish-Violet);
  color: var(--White);
}

.iphone-container {
  border: 9px solid white;
  border-radius: 14% 14% 14% 14% / 6% 6% 6% 6%;
  width: 246.75px;
  height: 539px;
  margin: 4em auto;
  position: relative;
}

.chat-container {
  border-radius: 4em;
  background-color: var(--Light-Grayish-Violet);
}

.notch {
  width: 55%;
  background-color: white;
  height: 20px;
  position: absolute;
  left: 3.2em;
  border-radius: 23% 23% 14% 14% / 0% 0% 75% 75%;
}

.user-menu-container {
  background: linear-gradient(90deg, var(--Light-Violet), var(--Light-Magenta));
  border-radius: 10% 10% 2% 2% / 32% 32% 9% 9%;
  font-size: 0.7rem;
  padding: 2em 0.5em 1.5em;
}

.user-menu {
  display: flex;
  transform: translateY(0.5em);
}

.user-avatar-container {
  display: flex;
  position: relative;
  margin-right: 0.75em;
}

.user-avatar {
  margin-left: 1.5em;
}

.user-avatar img {
  width: 24px;
  border-radius: 50%;
  border: 1px solid var(--White);
}

.user-avatar::after {
  content: "";
  border-style: solid;
  border-color: var(--White);
  border-width: 0 0 0.2em 0.2em;
  height: 0.34em;
  width: 0.34em;
  transform: rotate(54deg) skew(25deg);
  border-radius: 0.15em;
  position: absolute;
  top: 0.75em;
  right: 2.4em;
}

.user-availability {
  font-size: 0.5rem;
  color: var(--PaleViolet);
  margin-top: 0.2em;
}

.ellipsis {
  width: 40%;
  align-self: center;
  text-align: end;
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
}

.chat-bubble {
  font-size: 0.5rem;
  max-width: 58%;
  padding: 1em 0.75em;
  margin-top: 1em;
  border-radius: 10px;
}

.chat-left {
  background-color: var(--dark-grayish-violet);
  color: var(--moderate-violet);
  border-bottom-left-radius: 4px;
}

.chat-right {
  background-color: var(--White);
  color: var(--desaturated-dark-violet);
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}

.chat-right-last {
  margin-bottom: 1em;
}

.chat-pricing {
  background: linear-gradient(90deg, var(--Light-Magenta), var(--Light-Violet));
  color: var(--White);
  min-width: 75%;
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: flex-start;
}

.chat-pricing:before {
  content: "";
  height: 11px;
  width: 11px;
  border: 1px solid black;
  position: absolute;
  border-radius: 50%;
  top: 1.4em;
  left: 1.4em;
  border-color: var(--Very-Light-Magenta);
  /* margin-right: 2em; */
}

.pricing-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transform: translateX(3.5em);
}

.walk-length {
  width: 65px;
}

.radio {
  opacity: 0;
}

.pricing {
  font-size: 0.75rem;
  font-weight: 500;
  padding-left: 2em;
}

.dog-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.images img {
  width: 40px;
  margin-left: 0.5em;
  border-radius: 10px;
  margin-top: 1em;
}
