* {
  box-sizing: border-box;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

:root {
  /* Text */

  --PaleViolet: hsl(276, 100%, 81%);
  --moderate-violet: hsl(276, 55%, 52%);
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  --grayish-blue: hsl(206, 6%, 79%);
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --dark-grayish-violet: hsl(270, 7%, 64%);

  /* gradient */

  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* secondary */

  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  margin: 0;
  background-color: var(--Light-Grayish-Violet);
  color: var(--White);
  position: relative;
  /* height: 100vh; */
}

.background-shape {
  position: absolute;
  z-index: -1;
}

.background-shape-top {
  width: 145.5%;
  max-width: 555px;
  min-width: 437px;
  height: 117%;
  max-height: 780px;
  border-radius: 80% 3% 50% 50% / 0% 0% 25% 25%;
  background: linear-gradient(
    380deg,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
  left: -360px;
  top: -280px;
}

.background-shape-bottom {
  width: 52%;
  max-width: 290px;
  height: 55%;
  background-color: hsl(286, 30%, 94%);
  right: 0px;
  bottom: 0px;
  border-radius: 100% 0% 1% 0% / 60% 0% 0% 9%;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.iphone-container {
  border: 9px solid white;
  border-radius: 14% 14% 14% 14% / 6% 6% 6% 6%;
  width: 246.75px;
  height: 500px;
  margin: 4em auto 2em;
  position: relative;
}

.notch {
  width: 55%;
  background-color: white;
  height: 20px;
  position: absolute;
  top: -0.1em;
  left: 3.2em;
  border-radius: 23% 23% 14% 14% / 0% 0% 75% 75%;
}

.user-menu-container {
  background: linear-gradient(90deg, var(--Light-Violet), var(--Light-Magenta));
  border-radius: 10% 10% 2% 2% / 32% 32% 9% 9%;
  font-size: 0.7rem;
  padding: 2em 0.5em 1.5em;
}

.user-menu {
  display: flex;
  transform: translateY(0.5em);
}

.user-avatar-container {
  display: flex;
  position: relative;
  margin-right: 0.75em;
}

.user-avatar {
  margin-left: 1.5em;
}

.user-avatar img {
  width: 24px;
  border-radius: 50%;
  border: 1px solid var(--White);
}

.user-avatar::after {
  content: "";
  border-style: solid;
  border-color: var(--White);
  border-width: 0 0 0.2em 0.2em;
  height: 0.34em;
  width: 0.34em;
  transform: rotate(54deg) skew(25deg);
  border-radius: 0.15em;
  position: absolute;
  top: 0.75em;
  right: 2.4em;
}

.user-availability {
  font-size: 0.5rem;
  color: var(--PaleViolet);
  margin-top: 0.2em;
}

.ellipsis {
  width: 40%;
  align-self: center;
  text-align: end;
}

.dog-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.images img {
  width: 40px;
  margin-left: 0.5em;
  border-radius: 10px;
  margin-top: 1em;
}

.chat-container {
  background-color: var(--Light-Grayish-Violet);
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  transform: translateX(-0.04em);
  width: 229.99px;
  border-radius: 23% 23% 10% 10% / 0% 0% 6% 6%;
  height: 417.5px;
}

.chat-bubble {
  font-size: 0.5rem;
  max-width: 58%;
  padding: 1em 0.75em;
  margin-top: 1em;
  border-radius: 10px;
}

.chat-left {
  background-color: hsl(286, 30%, 93%);
  color: var(--moderate-violet);
  border-bottom-left-radius: 4px;
}

.chat-right {
  background-color: var(--White);
  color: var(--desaturated-dark-violet);
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}

.chat-right-last {
  margin-bottom: 1em;
}

.chat-pricing {
  background: linear-gradient(90deg, var(--Light-Magenta), var(--Light-Violet));
  color: var(--White);
  min-width: 75%;
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: flex-start;
}

.chat-pricing:before {
  content: "";
  height: 11px;
  width: 11px;
  border: 1px solid black;
  position: absolute;
  border-radius: 50%;
  top: 1.4em;
  left: 1.4em;
  border-color: var(--Very-Light-Magenta);
}

.pricing-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transform: translateX(3.5em);
}

.walk-length {
  width: 65px;
}

.radio {
  opacity: 0;
}

.pricing {
  font-size: 0.75rem;
  font-weight: 500;
  padding-left: 2em;
}

.chat-box {
  margin-top: 1em;
  /* margin-bottom: ; */
}

form {
  position: relative;
}

.placeholder {
  height: 35px;
  border-radius: 15em;
  border: none;
  outline: none;
  width: 100%;
  font-family: inherit;
  font-size: 0.6rem;
  color: var(--grayish-blue);
  padding-left: 2.5em;
}

.btn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background-color: var(--Very-Dark-Desaturated-Violet);
  color: white;
  border: 3px solid var(--Very-Dark-Desaturated-Violet);
  outline: none;
  border-radius: 50%;
}

.btn::after {
  border-style: solid;
  border-width: 0.23em 0.23em 0 0;
  content: "";
  display: inline-block;
  height: 0.35em;
  right: 0.099em;
  position: relative;
  top: 0.25em;
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.35em;
  border-radius: 0.15em;

  /* position: relative; */
  /* top: 0.75em;
  right: 2.4em; */
}

.paragraph-container {
  width: 80%;
  text-align: center;
  margin: auto auto;
}

.paragraph-container h1 {
  color: var(--very-dark-desaturated-violet);
  font-weight: 500;
  font-size: 2.5rem;
}

.paragraph {
  color: var(--dark-grayish-violet);
  line-height: 2em;
  margin-bottom: 4em;
}

@media (min-width: 1058px) {
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7em auto;
    width: 80%;
  }

  body {
    height: 100vh;
  }

  .background-shape-top {
    width: 35%;
    height: 135%;
    min-width: 450px;
    max-height: none;
    border-radius: 80% 3% 50% 50% / 0% 0% 25% 25%;
    left: -5.25em;
    top: -29.25em;
  }

  .background-shape-bottom {
    width: 22.55%;
    height: 97%;
    min-width: 310px;
    right: 0;
    bottom: 0;
    border-radius: 91% 3% 50% 50% / 32% 0% 0% 0%;
  }

  .iphone-container {
    margin-right: 5em;
  }

  .paragraph-container {
    width: 39%;
    margin-left: 3em;
    margin-right: 7em;
    transform: translateY(2em);
  }

  .paragraph-container h1,
  .paragraph {
    text-align: start;
  }
}

@media (min-width: 750px) and (max-width: 968px) {
  body,
  main {
    height: 100vh;
    margin: 4em auto;
  }

  .background-shape-top {
    min-width: 450px;
  }

  .background-shape-bottom {
    bottom: -100px;
  }

  .paragraph-container {
    margin-top: 4em;
  }
}
